## Python_Tuples

* Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
* Ordered: When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

* Unchangeable: Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

* Allow Duplicates 
* Since tuples are indexed, they can have items with the same value.'''

In [29]:
# creating a tuple

tup = ('a','b','c','c')
tup

('a', 'b', 'c', 'c')

In [19]:
#type of tuple

print(type(tup))
type(tup)

<class 'tuple'>

tuple

* From Python's perspective, tuples are defined as objects with the data type 'tuple'
* it is also a collection datatype among the 4 collection datatypes(list,tuple,set,dictionary)

In [20]:
tup = ('a')
type(tup)

str

In [21]:
# one element tuple

tup = ('a',)
type(tup)

tuple

In [24]:
#tuple created with a constructor

tup = tuple('a')
tup

('a',)

In [26]:
# tuple constructor accepts only one arguement 

tup = tuple('a','b','c')

TypeError: tuple expected at most 1 argument, got 3

In [32]:
# tuple created with the help of the constructor with multiple elements

tup = tuple(('a','b','c'))
print(type(tup))
print("The length of tup is ",len(tup))
tup

<class 'tuple'>
The length of tup is  3

('a', 'b', 'c')

### accessing tuples

In [34]:
tup = ('a',1,2,3,4,5,6,'b','c')
tup

('a', 1, 2, 3, 4, 5, 6, 'b', 'c')

In [36]:
len(tup)

9

In [35]:
tup[0]

'a'

In [37]:
tup[0:9]

('a', 1, 2, 3, 4, 5, 6, 'b', 'c')

In [38]:
tup[0:5]

('a', 1, 2, 3, 4)

In [39]:
tup[:6]

('a', 1, 2, 3, 4, 5)

In [40]:
tup[5:]

(5, 6, 'b', 'c')

In [41]:
tup[-1:]

('c',)

In [43]:
tup[-8:]

(1, 2, 3, 4, 5, 6, 'b', 'c')

In [45]:
tup[-5:-1]

(4, 5, 6, 'b')

In [46]:
tup[:-1]

('a', 1, 2, 3, 4, 5, 6, 'b')

### Editing a tuple by changing it into a list

* Even though tuples are immutable we can change it into a list and modify it and again change it into a list.

In [47]:
tup

('a', 1, 2, 3, 4, 5, 6, 'b', 'c')

In [60]:
tup_list = list(tup)
tup_list

['a', 1, 2, 3, 4, 5, 6, 'b', 'c']

In [61]:
tup_list.append('a')
tup_list

['a', 1, 2, 3, 4, 5, 6, 'b', 'c', 'a']

In [62]:
tup_list.remove(2)
tup_list

['a', 1, 3, 4, 5, 6, 'b', 'c', 'a']

In [63]:
tup = tuple(tup_list)
tup

('a', 1, 3, 4, 5, 6, 'b', 'c', 'a')

### Packing and unpacking

* When we create a tuple, we normally assign values to it. This is called "packing" a tuple
* But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking"

In [68]:
tup = ('a','b','c')

A = tup[0]
B = tup[1]

print(A,B)

a b

In [72]:
(A,B,C) = tup

print(A)
print(B)
print(C)

a
b
c

In [77]:
(A,B) = tup

print(A)
print(B)

ValueError: too many values to unpack (expected 2)

In [81]:
(A,*B) = tup

print('The value of "A" is',A)
print('The value of "B" is',B)

The value of "A" is a
The value of "B" is ['b', 'c']

* In the above code since there are no enough elements to unpack with  the help of asterisk we are using the last element as list to unpack

### tuples in loops

In [82]:
tup = ('a','b','c')
for i in tup:
    print(i)

a
b
c

In [86]:
i = 0
while i in range(len(tup)):
    print(tup[i])
    i+=1

a
b
c

### join tuples

In [104]:
# tuples adding

tup_1 = ('a','b','c')
tup_2 = ('d','e','f')

print(tup_1 + tup_2)
print(tup_1 + tup_1)

('a', 'b', 'c', 'd', 'e', 'f')
('a', 'b', 'c', 'a', 'b', 'c')

In [105]:
# tuples multiplication

tup_1 * 3

('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

### tuple methods

* Python has two built-in methods that you can use on tuples.

In [112]:
tup = (1,2,3,4,5,5,6,'a')
print(tup.count(5))
print(tup.count(1))

2
1

In [120]:
print(tup.index('a'))
print(tup.index(5))

7
4